<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>My Apps</title>
    {% if redirect2 > '' %}
    <meta http-equiv="refresh" content="0;URL='{{ redirect2 }}'" />
    {% endif %}
  </head>
  <body>
    <h1>Simple Applications</h1>
    <div id="applications">
        <dl>
            <dt><a href="/meetup/">Meetup</a></dt>
            <dd>Print labels for meetup.com events</dd>
            <dt><a href="/howmanypeopleinspace/">How Many People in Space</a></dt>
            <dd>How many people are in space right now?</dd>
        </dl>
    </div>
  </body>
</html>
